<div class="form-input">
  <label for="label">{{ label }}</label>
  <i class="error-label" *ngIf="control.invalid && control.dirty">
    {{ errorLabels[object.keys(control.errors ?? {})[0]] }}
  </i>
  <div class="input-wrapper">
    <i *ngIf="icon"> <img [src]="'/assets/images/' + icon + '.svg'" /> </i>
    <input
      #input
      [placeholder]="placeholder"
      [type]="type"
      [name]="label"
      (keyup)="handleInputChange(input.value)"
      [formControl]="control"
    />
  </div>
</div>
